<?xml version="1.0"?>
<launch>
  <include file="$(find abb_camera_simulation)/launch/load_irb4600.launch"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="urdf_path" default="$(find abb_camera_simulation)/urdf/abb_irb4600_60_205.urdf"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <!--<param name="robot_description" textfile="$(arg urdf_path)" />-->

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model abb_irb -param robot_description"/>


<!--  <include file="$(find abb_camera_sim)/launch/ros_controllers.launch"/>-->
<include file="$(find abb_camera_simulation)/launch/trajectory_controller.launch" />

</launch>
